# Since the ".env" file is git-ignored, you can use the "template.env" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# This secret is currently used to encrypt all other secrets stored in ./crypt/data.rs
# The "master_secret" value is injected by the setup script.
MASTER_SECRET=master_secret

# Password is injected by the setup script; This property is only used by SQLx during compilation so only refers to the local database
DATABASE_URL=postgres://singularity:postgres__user.singularity.password.local@localhost:5432/lobby

SECR__STORE_PATH=./secrets.yaml
